<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=\, initial-scale=1.0" />
    <title>Form</title>
    <link rel="Stylesheet" href="index.css" />
  </head>
  <body>
    <!-- Form -->
    <form id="form">
      <h2 id="heading">Fill the form</h2>
      <!-- User name field -->
      <p class="text">
        User name:
        <input
          type="text"
          placeholder="Enter your user name."
          class="input"
          id="user_name"
        />
      </p>
      <!-- Email field -->
      <p class="text">
        Email:
        <input
          type="email"
          placeholder="Enter you email"
          class="input"
          id="email"
        />
      </p>
      <!-- Password field -->
      <p class="text">
        Password:
        <input
          type="password"
          placeholder="Enter the pasword"
          class="input"
          id="password"
        />
      </p>
      <!-- button -->
      <input type="submit" id="submit" />
    </form>
    <script src="index.js"></script>
  </body>
</html>
